body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  width: 960px;
  color: #999999;
  font-size: 20px;
  fill: #999999;
}

.axis text {
  font-family: sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: rgb(0, 255, 0);
  fill-opacity: .5;
}

.x.axis path {
  /*display: none;*/
}

.x.axis g {
  font-weight: bold;
}

label {
  position: fixed;
  top: 10px;
  left: 800px;
}